@import "general";

/* Pagina INDEX*/

.bodyindex {
    background-image: url(../Fotos/Renaultauto.jpg);
    .gridindex{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 540px 15px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "TN Nav Nav"
        "Main Main Main"
        "footer footer footer";
        .TN{
            grid-area: TN; 
            display: flex;
            justify-content: left;
            align-items: center;
            color: white;
            font-family: 'Permanent Marker', cursive;
            }
        .Nav { 
            grid-area: Nav; 
            display: flex;
            justify-content: right;
            align-items: center;
            font-size: 1.7rem;
            font-weight: bolder;
            font-family: 'Secular One', sans-serif;
            .navegador__li {
                display: inline-block;
                list-style: none;
                margin-right: 5px;
                color: white;
                &:hover {
                    transform: scale(1.2);
                    border: solid white;
                }
            }
            }
        .Main { 
            grid-area: Main;
            .inicio__Parrafo{
                font-size: 4rem;
                color: white;
                font-family: 'Merienda', cursive;
            }
            .inicio__Saludo{
                font-size: 10rem;
                margin-top: 8%;
            } 
        }
        .footer {
            grid-area: footer;
            color: white;
            font-family: 'Secular One', sans-serif;
            font-size: 1.5rem;
            text-align: right;
            justify-items: center;
            height: 1rem;
            font-family: 'Merienda', cursive;
        }
    }
}
/* CSS PAGINA NOSOTROS*/
.bodynosotros{
    background-image: url(../Fotos/Renaultmadera.jpg);
    background-size: 100%;
.nosotrosgrid {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.07fr 0.45fr 1.5fr 0.07fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "iniciotn iniciotn iniciotn"
        "ftn ftn ftn"
        "maintn maintn maintn"
        "footertn footertn footertn";
    }
    .iniciotnh1{
        font-size: 2.5rem;
        color: white;
        font-family: 'Permanent Marker', cursive;
    }
    .iniciotn {
        grid-area: iniciotn; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid;
        border-color: white;
        font-size: 1.7rem;
        font-weight: bolder;
        font-family: 'Secular One', sans-serif;
        height: 50px;
        .li_nosotros {
            display: inline-block;
            list-style: none;
            margin-right: 5px;
            color: white;
            &:hover {
                transform: scale(1.2);
                border: solid white;
            }
        }
    }
    .ftn { 
        grid-area: ftn;
        margin: 0%;
        padding: 0%;
    }
    .maintn {
        grid-area: maintn;
        .card1{
            background-color:transparent ;
            color: white;
            font-weight: bold;
            width: 320px;
            height: 350px;
            font-size: 1.5rem;
            font-family: "Roboto";
            border-radius: 10px;
            border-style:groove;
            margin-right: 10px;
            margin-bottom: 10px;
            h4{
                margin-top: 10px;
                margin-bottom: 5px;
                text-align: center;
                font-weight: bolder;
                font-size: 2rem;
            }
            .text-center{
                text-align: center;
                margin-top: 10px;
                font-weight: bolder;
                
            }  
        }
        .card2{
            @extend .card1
        }   
        .card2 img{
            width: 150px;
            height: 150px;
            margin-top: 20px;
            margin-left: 80px;
            margin-top: 30px;
            border-radius: 20px;
            
        }
        .card3{
            @extend .card1
        }
        .card4{
            @extend .card1
        }
        .card5{
            @extend .card1
        }
        .card6{
            @extend .card1
        } 
    }
    .footern { 
        grid-area: footertn;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: right;
    }

#FuncionTN{
    border: 0.25rem;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-top: 20px;
    color:white;
    font-size: 1.5rem;
    font-family: 'Raleway 800', sans-serif;
    font-weight: bold;
    text-align: justify;
}
.FotoPerfil{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 80px;
    margin-top: 30px;
    border-radius: 20px;

}
.img8{
    height: 100%;
    width: 100%;
}

#Integrantes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
}

/* Pagina STN*/

.fomulariostn {  
    background-image: url(../Fotos/megane.jpg);
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 0.9fr 1.1fr;
    grid-template-rows: 0.5fr 3.5fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navbar3 navbar3 navbar3"
    "formulario formulario informacionstn"
    "footerstn footerstn footerstn";    
    .navbar3 { 
        grid-area: navbar3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid;
        border-color: white;
        font-size: 1.7rem;
        font-weight: bolder;
        font-family: 'Secular One', sans-serif;
        height: 50px;
        .li__stn {
            display: inline-block;
            list-style: none;
            margin-right: 5px;
            color: white;
            &:hover {
                transform: scale(1.2);
                border: solid white;
            }
        }
    }
    .formulario { 
        grid-area: formulario;
        margin-top: 0.5%;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        label {
            margin-right: 35%;
        }
    }
    .informacionstn { 
        background-color: rgba($color: green, $alpha: 0.5);
        background-size: 100%;
        margin: 0% 1%;
        grid-area: informacionstn;
        font-size: 2rem;
        color: white;
        font-weight: bolder;
        text-align: center;
        .ComentarioSTN{
            margin-top: 3%;
        }
    }
    .informacionstn2{
        background-color: rgba($color: green, $alpha: 0.3);
        background-size: 100%;
        margin: 0% 1%;
        grid-area: informacionstn;
        font-size: 2rem;
        color: white;
        font-weight: bolder;
        text-align: center;
        .ComentarioSTN{
            margin-top: 3%;
        }
    }
    .informacionstn3{
        background-color: rgba($color: green, $alpha: 0.2);
        background-size: 100%;
        margin: 0% 1%;
        grid-area: informacionstn;
        font-size: 2rem;
        color: white;
        font-weight: bolder;
        text-align: center;
        .ComentarioSTN{
            margin-top: 3%;
        }
    }
    .footerstn { 
        grid-area: footerstn;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: right;
        border-top: solid 1px white;
    }
}

/* PAGINA CONTACTO*/

.contacto {
background-image: url(../Fotos/ws_Dark_Brick_Pattern_Abstract_1366x768.jpg);
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.5fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "navbar5 navbar5 navbar5"
    "mainContacto mainContacto mainContacto"
    "footerContacto footerContacto footerContacto";
    .navbar5 { 
        grid-area: navbar5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid;
        border-color: white;
        font-size: 1.7rem;
        font-weight: bolder;
        font-family: 'Secular One', sans-serif;
        height: 50px;
        .li__contacto {
            display: inline-block;
            list-style: none;
            margin-right: 5px;
            color: white;
            &:hover {
                transform: scale(1.2);
                border: solid white;
            }
        }
    }
    .mainContacto { 
        grid-area: mainContacto;
        font-size: 1.5rem;
        font-weight: bold;
        .comentarioContacto {
            color: white;
            font-size: 1.7rem;
            margin-bottom: 4rem;
        }
        .form__contacto {
            color: white;
            font-size: 1.7rem;
            padding-right: 10%;
            padding-left: 10%;
            text-align: right;
            .Contacto_Formulario{
                color: white;
                margin-top: 10%;
            }
            .Contacto_Botones{
                color: white;
                margin-top: 5%;
                margin-right: 35%;
                margin-left: 10%;
            }
            .comentarioFinal{
                margin-right: 35%;
                margin-top: 5%;
                .Contacto_BotonesG{
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 15%;
                }
            }
            .BotonEnviar{
                margin-top: 2%;
                margin-right: 3%;
                margin-bottom: 3%;
                color: white;
                background-color: gray;
            }
            .BotonLimpiarFormulario{
                margin-right: 35%;
                color: white;
                background-color: gray;
            }
        }
    }
    .footerContacto { 
        grid-area: footerContacto;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: right;
        border-top: solid 1px white; 
        margin-top: 5rem;
    }
}

