html {
  font-size: 62.5%; }

* {
  list-style: none;
  margin: 0%;
  padding: 0%; }

body h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 2.5rem; }

body h2 {
  color: white;
  font-family: 'Merienda', cursive;
  font-size: 2.5rem; }

body a {
  text-decoration: none;
  color: white;
  list-style: none; }

body hr {
  color: white; }

/* Pagina INDEX*/
.bodyindex {
  background-image: url(../Fotos/Renaultauto.jpg); }
  .bodyindex .gridindex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 540px 15px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "TN Nav Nav" "Main Main Main" "footer footer footer"; }
    .bodyindex .gridindex .TN {
      grid-area: TN;
      display: flex;
      justify-content: left;
      align-items: center;
      color: white;
      font-family: 'Permanent Marker', cursive; }
    .bodyindex .gridindex .Nav {
      grid-area: Nav;
      display: flex;
      justify-content: right;
      align-items: center;
      font-size: 1.7rem;
      font-weight: bolder;
      font-family: 'Secular One', sans-serif; }
      .bodyindex .gridindex .Nav .navegador__li {
        display: inline-block;
        list-style: none;
        margin-right: 5px;
        color: white; }
        .bodyindex .gridindex .Nav .navegador__li:hover {
          transform: scale(1.2);
          border: solid white; }
    .bodyindex .gridindex .Main {
      grid-area: Main; }
      .bodyindex .gridindex .Main .inicio__Parrafo {
        font-size: 4rem;
        color: white;
        font-family: 'Merienda', cursive; }
      .bodyindex .gridindex .Main .inicio__Saludo {
        font-size: 10rem;
        margin-top: 8%; }
    .bodyindex .gridindex .footer {
      grid-area: footer;
      color: white;
      font-family: 'Secular One', sans-serif;
      font-size: 1.5rem;
      text-align: right;
      justify-items: center;
      height: 1rem;
      font-family: 'Merienda', cursive; }

/* CSS PAGINA NOSOTROS*/
.bodynosotros {
  background-image: url(../Fotos/Renaultmadera.jpg);
  background-size: 100%; }
  .bodynosotros .nosotrosgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.07fr 0.45fr 1.5fr 0.07fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "iniciotn iniciotn iniciotn" "ftn ftn ftn" "maintn maintn maintn" "footertn footertn footertn"; }
  .bodynosotros .iniciotnh1 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Permanent Marker', cursive; }
  .bodynosotros .iniciotn {
    grid-area: iniciotn;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    border-color: white;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
    height: 50px; }
    .bodynosotros .iniciotn .li_nosotros {
      display: inline-block;
      list-style: none;
      margin-right: 5px;
      color: white; }
      .bodynosotros .iniciotn .li_nosotros:hover {
        transform: scale(1.2);
        border: solid white; }
  .bodynosotros .ftn {
    grid-area: ftn;
    margin: 0%;
    padding: 0%; }
  .bodynosotros .maintn {
    grid-area: maintn; }
    .bodynosotros .maintn .card1, .bodynosotros .maintn .card2, .bodynosotros .maintn .card3, .bodynosotros .maintn .card4, .bodynosotros .maintn .card5, .bodynosotros .maintn .card6 {
      background-color: transparent;
      color: white;
      font-weight: bold;
      width: 320px;
      height: 350px;
      font-size: 1.5rem;
      font-family: "Roboto";
      border-radius: 10px;
      border-style: groove;
      margin-right: 10px;
      margin-bottom: 10px; }
      .bodynosotros .maintn .card1 h4, .bodynosotros .maintn .card2 h4, .bodynosotros .maintn .card3 h4, .bodynosotros .maintn .card4 h4, .bodynosotros .maintn .card5 h4, .bodynosotros .maintn .card6 h4 {
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
        font-weight: bolder;
        font-size: 2rem; }
      .bodynosotros .maintn .card1 .text-center, .bodynosotros .maintn .card2 .text-center, .bodynosotros .maintn .card3 .text-center, .bodynosotros .maintn .card4 .text-center, .bodynosotros .maintn .card5 .text-center, .bodynosotros .maintn .card6 .text-center {
        text-align: center;
        margin-top: 10px;
        font-weight: bolder; }
    .bodynosotros .maintn .card2 img {
      width: 150px;
      height: 150px;
      margin-top: 20px;
      margin-left: 80px;
      margin-top: 30px;
      border-radius: 20px; }
  .bodynosotros .footern {
    grid-area: footertn;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right; }
  .bodynosotros #FuncionTN {
    border: 0.25rem;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Raleway 800', sans-serif;
    font-weight: bold;
    text-align: justify; }
  .bodynosotros .FotoPerfil {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 80px;
    margin-top: 30px;
    border-radius: 20px; }
  .bodynosotros .img8 {
    height: 100%;
    width: 100%; }
  .bodynosotros #Integrantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px; }

/* Pagina STN*/
.fomulariostn {
  background-image: url(../Fotos/megane.jpg);
  background-size: 100%;
  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr;
  grid-template-rows: 0.3fr 4fr 0.07fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navbar3 navbar3 navbar3" "formulario formulario informacionstn" "footerstn footerstn footerstn"; }
  .fomulariostn .navbar3 {
    grid-area: navbar3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    border-color: white;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
    height: 50px; }
    .fomulariostn .navbar3 .li__stn {
      display: inline-block;
      list-style: none;
      margin-right: 5px;
      color: white; }
      .fomulariostn .navbar3 .li__stn:hover {
        transform: scale(1.2);
        border: solid white; }
  .fomulariostn .formulario {
    grid-area: formulario;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    padding-right: 10%;
    text-align: right;
    font-family: 'Indie Flower', cursive; }
    .fomulariostn .formulario .textarea__stn {
      margin-left: 20%;
      width: 290px; }
    .fomulariostn .formulario .contacto__stn {
      margin-left: 5%;
      margin-top: 2%; }
    .fomulariostn .formulario .descripciones__stn .textarea__stnG, .fomulariostn .formulario .descripciones__stn1 .textarea__stnG, .fomulariostn .formulario .descripciones__stn2 .textarea__stnG, .fomulariostn .formulario .descripciones__stn3 .textarea__stnG {
      margin-left: 20%;
      width: 290px;
      margin-top: 2%;
      display: inline-block;
      vertical-align: middle; }
  .fomulariostn .informacionstn {
    background-color: rgba(0, 128, 0, 0.5);
    background-size: 100%;
    margin: 0% 1%;
    grid-area: informacionstn;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-family: 'Indie Flower', cursive; }
    .fomulariostn .informacionstn .ComentarioSTN {
      margin-top: 3%; }
  .fomulariostn .informacionstn2 {
    background-color: rgba(0, 128, 0, 0.3);
    background-size: 100%;
    margin: 0% 1%;
    grid-area: informacionstn;
    font-size: 2rem;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    text-align: center; }
    .fomulariostn .informacionstn2 .ComentarioSTN {
      margin-top: 3%; }
  .fomulariostn .informacionstn3 {
    background-color: rgba(0, 128, 0, 0.2);
    background-size: 100%;
    margin: 0% 1%;
    grid-area: informacionstn;
    font-size: 2rem;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    text-align: center; }
    .fomulariostn .informacionstn3 .ComentarioSTN {
      margin-top: 3%; }
  .fomulariostn .footerstn {
    grid-area: footerstn;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    border-top: solid 1px white; }

/* PAGINA CONTACTO*/
.contacto {
  background-image: url(../Fotos/ws_Dark_Brick_Pattern_Abstract_1366x768.jpg);
  background-size: 100% 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 4fr 0.07fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navbar5 navbar5 navbar5" "mainContacto mainContacto mainContacto" "footerContacto footerContacto footerContacto"; }
  .contacto .navbar5 {
    grid-area: navbar5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    border-color: white;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
    height: 50px; }
    .contacto .navbar5 .li__contacto {
      display: inline-block;
      list-style: none;
      margin-right: 5px;
      color: white; }
      .contacto .navbar5 .li__contacto:hover {
        transform: scale(1.2);
        border: solid white; }
  .contacto .mainContacto {
    grid-area: mainContacto;
    font-size: 1.5rem;
    font-weight: bold; }
    .contacto .mainContacto .tituloContacto {
      text-align: center;
      margin-bottom: 2rem; }
    .contacto .mainContacto .comentarioContacto {
      color: white;
      font-size: 1.7rem;
      margin-bottom: 3rem;
      text-align: center;
      font-family: 'Merienda', cursive; }
    .contacto .mainContacto .form__contacto {
      color: white;
      font-family: 'Merienda', cursive;
      font-size: 1.8rem;
      padding-right: 10%;
      padding-left: 10%;
      text-align: right; }
      .contacto .mainContacto .form__contacto .Contacto_Formulario {
        color: white;
        margin-top: 10%; }
      .contacto .mainContacto .form__contacto .Contacto_Botones {
        color: white;
        margin-top: 5%;
        margin-right: 35%;
        margin-left: 10%; }
      .contacto .mainContacto .form__contacto .comentarioFinal {
        margin-right: 35%;
        margin-top: 5%; }
        .contacto .mainContacto .form__contacto .comentarioFinal .Contacto_BotonesG {
          display: inline-block;
          vertical-align: middle;
          margin-left: 15%; }
      .contacto .mainContacto .form__contacto .BotonEnviar {
        margin-top: 4%;
        margin-right: 3%;
        margin-bottom: 3%;
        color: #040435;
        font-weight: bolder;
        border: 0;
        font-size: 12px;
        outline: none;
        padding: 5px 10px;
        background: #ee8770;
        border-radius: 4px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 0 #c93706, 0 3px 20px rgba(23, 22, 22, 0.3); }
      .contacto .mainContacto .form__contacto .BotonLimpiarFormulario {
        margin-right: 33.5%;
        color: #040435;
        font-weight: bolder;
        border: 0;
        font-size: 12px;
        outline: none;
        padding: 5px 10px;
        background: #ee8770;
        border-radius: 4px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 0 #c93706, 0 3px 20px rgba(23, 22, 22, 0.3); }
  .contacto .footerContacto {
    grid-area: footerContacto;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    border-top: solid 1px white;
    margin-top: 3%;
    font-family: 'Merienda', cursive; }
